<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/default.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/output.css" />
</head>

<body>
  <!-- Header Section-->
  <header class="sticky top-0 right-0 left-0"><%- include('./components/admin-navbar.ejs'); %></header>
  <main>
    <!-- Main Content Section-->
    <%- include('./content/' +page+ '.ejs');%>
  </main>


  <script src="https://kit.fontawesome.com/0469b842e7.js" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>