<!-- Add the Content you want an UNAUTHENTICATED USER to be able to see here   -->

<div class="banner-left">
  <div class="banner-left-heading">
    <h1>Crew Fireworks<br>Best Quality<br>Better Prices</h1>
  </div>
  <div class="banner-left-heading-description">
    <p>Sign-in to get the best deals<br> on the best brands.</p>
  </div>
  <div class="banner-links">
    <div class="banner-link-left">
      <a href="">Create Account</a>
    </div>
    <div class="banner-link-right">
      <p><a href="">Sign In</a></p>
    </div>
  </div>
</div>