<!-- Add the Content you want an UNAUTHENTICATED USER to be able to see here   -->

<div class="flex flex-col bg-white text-center p-6 mx-auto rounded-lg">


  <h1 class="text-7xl text-primary-content">Crew Fireworks<br>Best Quality<br>Better Prices</h1>
  <p class="text-4xl text-secondary-content ">Sign-in to get the best deals<br> on the best brands.</p>
  <div class="banner-links flex mx-auto mt-4 gap-4 justify-center ">
    <a class="btn btn-primary " href="">Create Account</a>
    <a class="btn btn-success" href="/user">Sign In</a>
  </div>

</div>