<section class="footer-list">
        <div class="container">
            <div class="footer-top">
                <div class="footer-contact">
                    <div class="logo footer-logo">
                        <img src="/imgs/crew-logo.png" alt="Crew Fireworks Company Logo">
                    </div>
                    <div class="footer-address">
                        <div class="footer-icon"><ion-icon class="navigate" name="navigate"></ion-icon></div><div class="address"><p>2403 Hwy 281 S Jamestown, ND 58401</p></div>
                    </div>
                    <div class="footer-phone-number">
                        <div class="footer-icon"><ion-icon class="call" name="call"></ion-icon></div><div class="phone-call"><a href="">+1 (701) 269-6703</a></div>
                    </div>
                </div>
                <div class="footer-nav">
                    <div class="footer-nav-list">
                        <div class="footer-nav-heading"><h1>Company</h1></div>
                        <div class="footer-nav-item"><a href="">About Us</a></div>
                        <div class="footer-nav-item"><a href="">Shipping</a></div>
                        <div class="footer-nav-item"><a href="">Discounts</a></div>
                        <div class="footer-nav-item"><a href="">Reviews</a></div>
                        <div class="footer-nav-item"><a href="">Contact Us</a></div>
                    </div>
                    <div class="footer-nav-list">
                        <div class="footer-nav-heading"><h1>Features</h1></div>
                        <div class="footer-nav-item"><a href="">Press</a></div>
                        <div class="footer-nav-item"><a href="">Fireworks Safety</a></div>
                        <div class="footer-nav-item"><a href="">FAQ</a></div>
                        <div class="footer-nav-item"><a href="">Pricing</a></div>
                    </div>
                    <div class="footer-nav-list">
                        <div class="footer-nav-heading"><h1>For Your Crew</h1></div>
                        <div class="footer-nav-item"><a href="">Fireworks</a></div>
                        <div class="footer-nav-item"><a href="">Deals</a></div>
                        <div class="footer-nav-item"><a href="">Scoops</a></div>
                        <div class="footer-nav-item"><a href="">Memeberships</a></div>
                        <div class="footer-nav-item"><a href="">Party Planning</a></div>
                    </div>
                    <div class="footer-nav-list">
                        <div class="footer-nav-heading"><h1>Resources</h1></div>
                        <div class="footer-nav-item"><a href=""><ion-icon class="resource-icon" name="information-circle"></ion-icon>Help</a></div>
                        <div class="footer-nav-item"><a href=""><ion-icon class="resource-icon" name="person-circle"></ion-icon>Your Account</a></div>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <hr class="hr-footer">
            <div class="footer">
                <div class="footer-top-2">
                    <div class="terms-list">
                        <a href="">Privacy & Policy&nbsp; &nbsp;</a><p>></p><a href="">&nbsp; &nbsp;Terms&nbsp; &nbsp;</a><p>></p><a href="">&nbsp; &nbsp;Site Map</a>
                    </div>
                    <div class="select-list">
                        <div class="social-list">
                            <div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div>
                            <div class="social-icon"><i class="fa-brands fa-youtube"></i></div>
                            <div class="social-icon"><i class="fa-brands fa-x-twitter"></i></div>
                            <div class="social-icon"><i class="fa-brands fa-instagram"></i></div>
                        </div>
                        <div class="country-list">
                            <select name="country-2" id="country-2" class="country-icon">
                                <option value="united-states">🇺🇸&nbsp; &nbsp;United States</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footer-mid">
                    <p>&copy; Crew Fireworks 2024. All right reserved.</p>
                </div>
                <div class="footer-end">
                    <p>When you visit with our sites, services, or tools, we or our authorized service providers may use cookies to store information to help provide you with a better, faster and safer browsing experience and for marketing purposes.</p>
                </div>
            </div>
        </div>
    </footer>