 <div id="top-nav " class="top-nav">
   <nav class="nav">
     <div class="container">
       <div class="logo">
         <a href="index.html"><img src="/imgs/crew-logo.png" alt="company logo"></img></a>
       </div>
       <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarDropdown">
         <span>&#9776;</span>
       </button>
       <div class="links">
         <div class="link">
           <a href="/">Home</a>
         </div>
         <div class="link">
           <a href="#features">Fireworks</a>
         </div>
         <div class="link">
           <a href="#learn">Shows</a>
         </div>
         <div class="link">
           <a href="#pricing">Events</a>
         </div>
         <div class="link">
           <a href="#hire-us">Contact Us</a>
         </div>
         <div class="buy-now-link btn">
           <a href="">Buy Now</a>
         </div>
       </div>
     </div>
   </nav>
 </div>