<div class="navbar bg-base-300 ">
  <div class="nav-start flex-1">
    <div class="dropdown">
      <div tabIndex="0" role="button" class="btn btn-ghost md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a href="/products">Fireworks</a>
          <ul class="p-2">
            <li><a href="/products/shows">Shows</a></li>
          </ul>
        </li>
        <li><a href="/events">Events</a>
          <ul class="p-2">
            <li><a href="/events/new-years">New Years</a></li>
            <li><a href="/events/fourth-july">Fourth of July</a></li>
            <li><a href="/events/gender-reveal">Gender Reveal</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="/" class="btn btn-link ">
      <img class="w-40" src="/imgs/crew-logo.png" alt="company logo"></img>
    </a>
  </div>
  <div class="navbar-center hidden md:flex flex-1 justify-center">
    <ul tabindex="0" class="menu menu-horizontal  mt-3 px-1">
      <li>
        <details>
          <summary>
            <a href="/products">Fireworks</a>
          </summary>
          <ul class="p-2">
            <li><a href="/products/shows">Shows</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary><a href="/events">Events</a></summary>
          <ul class="p-2">
            <li><a href="/events/new-years">New Years</a></li>
            <li><a href="/events/fourth-july">Fourth of July</a></li>
            <li><a href="/events/gender-reveal">Gender Reveal</a></li>
          </ul>
        </details>
      </li>
    </ul>

  </div>
  <div class="navbar-end flex gap-2 flex-1 ">
    <div id="user-actions"></div>
  </div>

  <script>
    function openSignIn() {

      Clerk.openSignIn();
    }

    function openSignUp() {

      Clerk.openSignUp();
    }


    window.addEventListener("load", async function() {
      await Clerk.load();

      console.log("ClerkJS is loaded");

      if (Clerk.user) {
        document.getElementById("user-actions").innerHTML = `
        <div id="user-button"></div>
      `;

        const userButtonDiv = document.getElementById("user-button");

        Clerk.mountUserButton(userButtonDiv);
      } else {
        document.getElementById("user-actions").innerHTML = `
        <button class="btn btn-success" onclick="openSignIn()">Sign In</button>
        <button class="btn btn-primary" onclick="openSignUp()">Create Account</button>
      `;

      }
    });
  </script>
</div>