<div class="flex flex-wrap gap-4">
  <div class="card w-48 bg-primary shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-primary-content"> Products</h2>
      <div class="card-actions">
        <a class=" btn btn-success" href="/api/products/create">Add New</a>
        <a class="btn btn-accent" href="/api/products">Edit Products</a>
      </div>
    </div>
  </div>
  <div class="card  w-48 bg-primary shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-primary-content"> Customers
      </h2>
      <div class="card-actions">
        <a class=" btn btn-success" href="/api/customers">See All</a>
      </div>
    </div>
  </div>
</div>